#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  width: 50rem;
  height: 100vh;
}

.player {
  width: fit-content;
}

.track {
  list-style-type: none;
}

.track:hover {
  cursor: pointer;
}
